*, *::after, *::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html, body {
	width: 100%;
	height: 100%;
	font-size: 16px;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
ul {
	display: block;
	list-style: none;
}